body {
  background-color: #48495b;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.index__title {
  color: white;
  font-family: "Open Sans";
  text-align: center;
  padding-bottom: 2vh; }

.title__page {
  padding-bottom: 5vh; }

.navbar {
  font-size: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px; }
  .navbar .nav__logo {
    height: 90px;
    width: 250px;
    justify-content: flex-start; }
  .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  .navbar .navbar__links {
    display: flex;
    flex-direction: row; }
  .navbar .nav-link {
    padding: 10px;
    color: white;
    font-size: 1em;
    font-family: "Raleway"; }
  .navbar .navbar-link-active {
    color: white; }

.footer {
  text-align: center;
  background-color: black;
  color: white;
  height: 5vh; }

.hero {
  background-size: cover;
  background-image: url(../img/hero.jpeg);
  height: 85vh; }
  .hero__title {
    color: white;
    display: flex;
    align-items: flex-end;
    height: 45vh;
    padding-left: 40px;
    margin-bottom: 3vh;
    font-family: "Open Sans"; }
  .hero__button {
    background-color: #fca4a2;
    border: none;
    padding: 10px calc(1.475rem + 1vw);
    margin-left: 40px; }
    .hero__button:hover {
      background-color: white; }
  .hero a {
    color: #48495b;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Open Sans";
    font-weight: bold; }

.nosotros {
  height: 60vh;
  display: flex;
  align-content: center;
  padding: 40px; }
  .nosotros__content {
    color: white;
    font-family: "Open Sans";
    text-align: right; }
  .nosotros__text {
    font-family: "Raleway"; }
  @media screen and (max-width: 576px) {
    .nosotros .nosotros__text {
      font-size: 1.3rem;
      padding-bottom: 0; } }

.instagram__plugin {
  display: flex; }

.instagram .responsive__plugin {
  display: none; }

.instagram .embedsocial-hashtag {
  background-image: url(../img/fondoinstagram.jpg);
  background-size: cover; }

.direcciones {
  padding: 2vh; }
  .direcciones h4 {
    font-family: "Open Sans";
    color: white; }
  .direcciones p {
    font-family: "Raleway";
    color: white; }
  .direcciones__box {
    display: flex;
    border: 2px;
    justify-content: space-between; }
  .direcciones__left {
    text-align: right; }

.redes {
  width: 50vw;
  height: fit-content;
  background-color: #fca4a2;
  border: 5vh solid #48495b;
  border-left: 90px solid #48495b;
  padding: 2vh;
  text-align: right; }
  .redes ul {
    list-style: none; }
  .redes a {
    text-decoration: none;
    color: #48495b; }
  .redes__title {
    font-size: calc(0.925rem + .5vw);
    color: #48495b; }
  .redes__item {
    padding: 5px; }
  @media screen and (max-width: 768px) {
    .redes {
      width: 100vw;
      height: max-content;
      border: 0;
      text-align: center; } }

.row {
  row-gap: 50px; }

.title__page {
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Open Sans"; }

.especialidad {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: center; }
  .especialidad__list {
    list-style: none;
    font-family: "Raleway";
    font-size: 3vh; }
  .especialidad__title {
    font-family: "Open Sans";
    display: flex;
    text-align: center;
    justify-content: center; }
  .especialidad__item {
    text-align: center; }

.imagen {
  width: 41vw;
  background-size: cover; }

.familia {
  background-image: url(../img/familia.jpeg); }

.laboral {
  background-image: url(../img/laboral.jpg); }

.sucesiones {
  background-image: url(../img/sucesiones.jpeg); }

.jubilaciones {
  background-image: url(../img/jubilaciones.jpeg); }

@media screen and (max-width: 768px) {
  .row {
    row-gap: 10px; } }

.intro__title {
  text-align: center;
  color: white;
  font-family: "Open Sans";
  color: white; }

.intro__description {
  color: white;
  font-family: "Raleway";
  text-align: justify;
  padding: 20px 250px; }

.cards {
  display: flex;
  flex-direction: row; }

.card {
  display: flex;
  width: 30vw;
  justify-content: center;
  align-content: center;
  background-color: #48495b;
  text-align: center;
  color: white;
  border: 2px solid white;
  margin: 20px;
  padding: 20px; }
  .card-title {
    font-family: "Open Sans"; }
  .card-text {
    font-family: "Raleway"; }
  .card-footer {
    background-color: #48495b;
    font-family: "Raleway";
    color: #fca4a2; }

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column; }
  .intro__description {
    padding: 20px; }
  .card {
    width: auto; } }

.mapa {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: "Open Sans";
  padding: 2vh; }
  .mapa__text {
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: flex-end; }
  .mapa__textdescription {
    font-family: "Raleway";
    text-align: right;
    align-items: center;
    margin-left: 1vh; }

@media screen and (max-width: 576px) {
  .mapa__text {
    align-items: center;
    margin: 1vh; }
  .mapa__textdescription {
    font-size: 1.8vh;
    align-items: center; } }

.contacto__title {
  display: flex;
  height: 79gvh;
  align-items: center;
  text-align: left; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px; }

.formulario {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px; }

.title {
  background-image: url(../img/hero.jpeg);
  background-size: cover;
  padding-left: 40px; }

.btn {
  background-color: #fca4a2;
  color: #48495b; }
