.contacto__title{
    display:flex;
    height:79gvh;
    align-items: center;
    text-align: left;
}

.form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-right:30px;
}

.formulario{
    display:flex;
    flex-direction: column;
    color: white;
    gap:20px;
}

.title{
    background:{
        image:url(../img/hero.jpeg);
        size: cover;
    }
    padding-left:40px;
    }

.btn{
    background-color:$secondary-color;
    color:$main-color;
}