.hero{
    background: {
        size:cover;
        image:url(../img/hero.jpeg);
    };
    height:85vh;

    &__title{
     color:white;
     display:flex;
     align-items: flex-end;
     height: 45vh;
     padding-left:40px;
     margin-bottom:3vh;
     font-family: $font-title;
        }

    &__button{
        background-color:$secondary-color;
        border:none;
        padding:10px calc(1.475rem + 1vw);
        margin-left:40px;
    }
    a{
        color:$main-color;
        text-decoration: none;
        font:{
            size:1rem;
            family:$font-title;
            weight:bold;
        }
    }
}

.nosotros{
    height:60vh;
    display:flex;
    align-content: center;
    padding:40px;

        &__content{
            color:$main-textcolor;
            font-family: $font-title;
            text-align: right;
        }

        &__text{
            font-family: $font-text;
        }

        @media screen and (max-width:576px){
            .nosotros__text{
                font-size: 1.3rem;
                padding-bottom:0;
                
            }   
        }
  }

  .instagram{

    &__plugin{
        display:flex;
    }

    .responsive__plugin{
        display:none;
    }
    .embedsocial-hashtag{
        background-image:url(../img/fondoinstagram.jpg);
        background-size: cover;
    }
  }

  .direcciones{
    padding:2vh;

    h4{
        font-family: $font-title;
        color:$main-textcolor;
    } 
    p{
        font-family:$font-text;
        color:$main-textcolor;
    }
    &__box{
        display:flex;
        border:2px;
        justify-content: space-between;
    }
    &__left{
        text-align: right;
    }
  }

  .redes{
    width:50vw;
    height:fit-content;
    background-color: $secondary-color;
    border: 5vh solid $main-color;
    border-left: 90px solid $main-color;
    padding:2vh;
    text-align: right;
    
    ul{
        list-style: none;
    }

    a{
        text-decoration:none;
        color:$main-color;
    }

    &__title{
        font-size: calc(0.925rem + .5vw);
        color:$main-color;
    }

    &__item{
        padding:5px;
    }

    @media screen and (max-width:768px) { 
        width:100vw;
        height:max-content;
        border:0;
        text-align:center;
    }
}